html,
body {
  min-width: 290px;
  color: #4d4e53;
  background-color: #000000;
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.5;
  
}

header {
    color: white;
    margin: 10px;
    text-align: center;
    font-size: 1.8em;
    font-weight: thin;
  }

#navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    overflow-y: auto;

  }

#navbar ul {
    padding: 50 0 50 0;

}

.ol {
    padding: 1px 1px;
    font-size: 2rem;
}

hr {
    border: 1px inset;
}

body {
    place-items: center;
    color: #55c841 !important;
}

#main-doc {
    position: relative;
    margin-left: 30rem;
    padding: 20px;
    margin-bottom: 110px;
  }


* {
    background-color: black;
}

a {
    color: #55c841 !important;
}

h2 {
    font-size: 4rem;
    padding-top: 4rem;
    
}

/* github icon */
.fa.fa-github {
    font-size:50px;
}

p {
    font-size: 2rem;
    font-weight: 500;
    padding-left: 4rem;
}

li {
    display: inline;
    position: relative;
    left: 10rem;
    font-size: x-large;
}

.glossary-definitions > p {
    display: inline-flex;
    font-size: 1em;
    border: 1px solid green;
    padding-left: 0;
    
}

.glossary-definitions > li {
    font-size: 1.5em;
    border: 1px 
}


.scroll-box {
    height: 200px;
    width: auto;
    overflow-y: auto;
    border: 1px solid white;
}

@media only screen and (max-width: 400px) {
    #main-doc {
      margin-left: -10px;
    }
    }
